In [24]:
import pandas as pd

In [25]:
my_data = ['phani','narayan','krishn']
type(my_data)

list

In [26]:
print(my_data)

['phani', 'narayan', 'krishn']

In [27]:
my_series = pd.Series(data=my_data)
print(my_series)

0      phani
1    narayan
2     krishn
dtype: object

In [28]:
type(my_series)

pandas.core.series.Series

In [29]:
lst = ['Ramu','John','Jack','William']
lbl = ['no1','no2','no3','no4']
fnl_series = pd.Series(data=lst,index=lbl)

In [30]:
fnl_series

no1       Ramu
no2       John
no3       Jack
no4    William
dtype: object

In [31]:
my_dics = {"Name":"Phanindhra",
           "Age":21,
           "gender":"male",
           "address":"vijayawada"}

In [32]:
my_dics

{'Name': 'Phanindhra', 'Age': 21, 'gender': 'male', 'address': 'vijayawada'}

In [33]:
type(my_dics)

dict

In [34]:
my_dics_Series = pd.Series(my_dics)
my_dics_Series

Name       Phanindhra
Age                21
gender           male
address    vijayawada
dtype: object

In [35]:
my_dics_Series.values

array(['Phanindhra', 21, 'male', 'vijayawada'], dtype=object)

In [36]:
my_dics_Series.index

Index(['Name', 'Age', 'gender', 'address'], dtype='object')

In [37]:
my_dics_Series.dtype

dtype('O')

In [38]:
my_dics_Series.shape

(4,)

In [39]:
my_dics_Series.size

4

In [40]:
my_dics_Series.tail(2)

gender           male
address    vijayawada
dtype: object

In [41]:
agg_tsk = pd.Series(data=[200,120,203,400,500])

In [42]:
agg_tsk.dtype

dtype('int64')

In [43]:
agg_tsk.sum()

1423

In [44]:
agg_tsk.mean()

284.6

In [45]:
agg_tsk.product()

974400000000

In [46]:
agg_tsk.memory_usage()

168

In [50]:
BTC_price = pd.read_csv('crypto.csv')

In [51]:
BTC_price

      BTC-USD Price
0        457.334015
1        424.440002
2        394.795990
3        408.903992
4        398.821014
...             ...
2380   55950.746090
2381   57750.199220
2382   58917.691410
2383   58918.832030
2384   59095.808590

[2385 rows x 1 columns]

In [52]:
len(BTC_price)

2385

In [53]:
max(BTC_price)

'BTC-USD Price'

In [54]:
#Make all as positive
abs(BTC_price)

      BTC-USD Price
0        457.334015
1        424.440002
2        394.795990
3        408.903992
4        398.821014
...             ...
2380   55950.746090
2381   57750.199220
2382   58917.691410
2383   58918.832030
2384   59095.808590

[2385 rows x 1 columns]

In [55]:
#get unique
set(BTC_price)

{'BTC-USD Price'}

In [58]:
#inplace = true ensures that changes has taken place in memory
BTC_price.sort_values(by='BTC-USD Price',inplace=True)

In [59]:
BTC_price

      BTC-USD Price
119      178.102997
122      199.259995
121      208.097000
120      209.843994
123      210.339004
...             ...
2382   58917.691410
2383   58918.832030
2384   59095.808590
2366   59302.316410
2365   61243.085940

[2385 rows x 1 columns]

In [60]:
BTC_price.sort_values(ascending=False,by='BTC-USD Price',inplace=True)
BTC_price

      BTC-USD Price
2365   61243.085940
2366   59302.316410
2384   59095.808590
2383   58918.832030
2382   58917.691410
...             ...
123      210.339004
120      209.843994
121      208.097000
122      199.259995
119      178.102997

[2385 rows x 1 columns]

In [61]:
BTC_price.sum()

BTC-USD Price    1.543538e+07
dtype: float64

In [62]:
BTC_price.count()

BTC-USD Price    2385
dtype: int64

In [64]:
BTC_price.size

2385

In [65]:
BTC_price.max()

BTC-USD Price    61243.08594
dtype: float64

In [66]:
BTC_price.describe()

       BTC-USD Price
count    2385.000000
mean     6471.857333
std      9289.022505
min       178.102997
25%       454.618988
50%      4076.632568
75%      8864.766602
max     61243.085940

In [67]:
BTC_price.mean()

BTC-USD Price    6471.857333
dtype: float64

In [68]:
BTC_price.sum()/BTC_price.count()

BTC-USD Price    6471.857333
dtype: float64

In [69]:
6471.85 in BTC_price

False

In [70]:
BTC_price = round(BTC_price)

In [71]:
BTC_price

      BTC-USD Price
2365        61243.0
2366        59302.0
2384        59096.0
2383        58919.0
2382        58918.0
...             ...
123           210.0
120           210.0
121           208.0
122           199.0
119           178.0

[2385 rows x 1 columns]

In [72]:
121 in BTC_price

False